<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the requested filename exists, serve it directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Otherwise, forward the request to index.php
    RewriteRule .? %{ENV:BASE}/index.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        # When mod_rewrite is not available, fall back to redirecting to index.php
        RedirectMatch 307 ^/$ /index.php/
    </IfModule>
</IfModule>
